body{
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99ff 100%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PT Serif', serif;
}
.navbar-nav{
    font-size: 20px;
}
#banner{
    background: url('img/banner.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
}

.banner-block{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
 }
 
 .banner-block h1{
     text-transform: uppercase;
 }

.contact1{
    margin-left: 380px;
    align-items: center;
}

#contact{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact form{
    width:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact form input,
#contact form textarea{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #373a412d;
    color: #ffffff;
    border-radius: 5px;
}
#contact form textarea{
    height: 150px;
}
#contact form input[type="submit"]{
    height: 45px;
    background: linear-gradient(90deg, #2065cc 20%,#3b58b8);
    color: #ffffff;
    text-transform: uppercase;
}